body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

div {

}

input {
  float: left;
  margin: 10px;
  border: 5px solid #00000;
  height: 36px;
  font-size: 20px;
  padding-left: 5px;
  width: 80px;
}

#sum {
  margin: 10px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

button {
  margin: 10px;
  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}